# Deep Learning
torch>=2.7.0
torchvision
torchaudio

# Veri işleme
numpy
pandas
scikit-learn

# Konfigürasyon
pyyaml

# İstatistiksel Analiz
scipy

# Görselleştirme
matplotlib
seaborn
networkx

# Test
pytest

# Yardımcı
tqdm
